@using AnimeWebSite.Domain.Common
@using static AnimeWebSite.Domain.Common.AddAnimeViewModel
@model AddAnimeViewModel;
<div class="row">
    <div class="col-lg-6">
        <h3 style="color:White">Add Anime</h3>
        <form asp-controller="Admin" asp-action="AddAnime" enctype="multipart/form-data">
            <div class="mb-3">
                <label style="color:White" asp-for="Name" class="control-label"></label>
                <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label style="color:White" asp-for="OriginalName" class="control-label"></label>
                <input asp-for="OriginalName" type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-floating mb-3">
                <label for="floatingTextarea2" style="color:White">Description</label>
                <textarea asp-for="Description" class="form-control" placeholder="Description" id="floatingTextarea2" style="height: 100px"></textarea>
            </div>
            <div class="mb-3">
                <label style="color:White" asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label style="color:White" asp-for="Episodes" class="control-label"></label>
                <input asp-for="Episodes" class="form-control">
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                @Html.DropDownListFor(m =>m.AnimeGenre,new SelectList(Enum.GetValues(typeof(Genre))), "Select Genre",new { @class = "form-select" })))
                <span style="color:White" asp-validation-for="AnimeGenre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label"></label>
                <input asp-for="Image" class="form-control" type="file" id="formFile">
            </div>
            <button type="submit" class="site-btn mt-3">Add</button>
        </form>
    </div>
</div>